<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CozyNestle</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

</head>
<body>
   
    <header>
        <nav>
            <div class="logo">CozyNestle</div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#popular">Popular</a></li>
                <li><a href="/listings/"><b>Explore</b></a></li>
            </ul>
        </nav>
        <br>
        <hr>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>Explore The World</h1>
            <br>
            <p>Live the trips exploring the world, discover paradises, islands, <br> mountains and much more, get your trip now.</p>
            <p>Embark on unforgettable journeys, where every destination is a new adventure waiting to be discovered.</p> <br>
            <button  class="btn"><a href="/listings/" id="start">Start Your Journey</a></button>
        </div>
        <div class="images">
            <div class="destination-gallery">
                <div class="destination" style="background-image: url('/photo/crotia.jpg');">Croatia</div>
                <div class="destination" style="background-image: url('/photo/iceland.jpg');">Iceland</div>
                <div class="destination" style="background-image: url('/photo/itlay.jpg');">Italy</div>
                <div class="destination" style="background-image: url('/photo/kashmir.jpg');">Kashmir</div>
            </div>
        </div>
    </section>\
    <section id="about" class="about-section">
        <div class="about-content">
            <h1>📌 Discover New Destinations</h1>
            <p>Explore breathtaking landscapes, serene beaches, and vibrant cities. Start your journey and create unforgettable memories.</p>
            
        </div>
        <div class="about-image" style="background-image: url('/photo/festival.jpg');"></div>
        <div class="about-image" style="background-image: url('/photo/phuket.jpg');"></div>
    </section>
    

    <section id="popular" class="popular-section">
        <h1>Discover The World</h1>
        <div class="popular-grid">
            <div class="popular-item" style="background-image: url('/photo/canada.jpg');">
                <div class="popular-info">
                    <h2>Logan Mountain</h2>
                    <p> 📌Canada</p>
                </div>
            </div>
            <div class="popular-item" style="background-image: url('/photo/ireland2.jpg');">
                <div class="popular-info">
                    <h2>Spike Forest</h2>
                    <p> 📌Ireland</p>
                </div>
            </div>
            <div class="popular-item" style="background-image: url('/photo/last.jpg');">
                <div class="popular-info">
                    <h2>Garda Lake</h2>
                    <p> 📌Italy</p>
                </div>
            </div>
        </div>
    </section>

    
</body>
</html>
