<% layout('layouts/boilerplate') %>

<div class="row-3 mt-5">
    <div class="alert alert-danger col-5 offset-3" role="alert">
       <h4 class="smaller-alert-text"> <%= msg %></h4>
      </div>
</div>
